[Desktop Entry]
Encoding=UTF-8
Name=Crowdcoin Core
Comment=Crowdcoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem Crowdcoin peer-to-peer Netzwerk
Comment[fr]=Crowdcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Crowdcoin, eşten eşe kriptografik sanal para birimi
Exec=crowdcoin-qt %u
Terminal=false
Type=Application
Icon=dash128
MimeType=x-scheme-handler/crowdcoin;
Categories=Office;Finance;
